@import '../../assets/scss/variables.scss';
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
  @media (max-width: 990px){
    display: none;
  }
  .header{
    font-size: 35px;
    padding: 10px;
  }
  .taglines{
    padding: 0  0 20px 0;
    text-align: center;
    line-height: 1.6;
    color: $fontcolor;
  }
  .work_grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .gridvalues {
      .image {
        position: relative;
        cursor: pointer;
        .background {
          background: black;
          opacity: .3;
          position: absolute;
          height: 100%;
          width: 100%;
        }
        
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 5;
        }
        .hover {
          position: absolute;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 10;
          background-image: linear-gradient($gradient1, $gradient2);
          width: 0;
          transition: .2s;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 2vh;
          text-align: center;
          padding: 0vh;
          box-sizing: border-box;
        }
        &:hover .hover{
          width: 100%;
          padding: 1vh;
        }
      }
    }
    .left_grid {
      width: 32.5%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      div{
        overflow: hidden;
        height: 48.5%;
      }
      .bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        div {
          width: 48.5%;
          height: 100%;
          overflow: hidden;
        }
      }
    }
    .center_grid {
      width: 32.5%;
      height: 80vh;
      div{
        height: 100%;
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .right_grid {
      display: flex;
      flex-direction: column;
      width: 32.5%;
      height: 80vh;
      justify-content: space-between;
      div{
        height: 48.5%;
        width: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

}

.small_container{
  display: none;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
  @media (max-width: 990px){
    display: flex;
  }
  .inner_container{
    height: 100%;
    width: 85%;
    // border: 1px solid;
  }
  .header{
    font-size: 2.5vh;
    font-weight: 600;
  }
  .taglines{
    padding: 15px  0 10px 0;
    text-align: left;
    line-height: 1.6;
    font-size: 1.7vh;
    font-weight: 500;
    color: $fontcolor;
  }
  .work_grid{
    display: grid;
    grid-gap: 10px;
    height: 80%;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: rgba($color: #000000, $alpha: 0.2);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .grid1{
    grid-column: 1 / span 2;
    grid-row: 1;
    // border: 1px solid;
  }
  .grid2{
    grid-column: 1 / span 1;
    grid-row: 2;
    // border: 1px solid;
  }
  .grid3{
    grid-column: 2 / span 1;
    grid-row: 2;
    // border: 1px solid;
  }
  .grid4{
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    // border: 1px solid;
    height: calc(40vh + 12px);
  }
  .grid5{
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
    // border: 1px solid;
    height: calc(40vh + 12px);
  }
  .grid6{
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    border: 1px solid;
  }
}





// .work_grid {
//   display: grid;
//   grid-gap: 10px;
//   width: 100%;
//   // height: 50%;
//   background: #fafafa;
//   height: 50%;
//   .image{
//     overflow: hidden;
//     img{
//       height: 100%;
//     }
//   }
//   .grid1{
//     grid-column: 1 / span 2;
//     grid-row: 1;
//     border: 1px solid;
//     height: 30vh;
//   }
//   .grid2{
//     grid-column: 3 / span 2;
//     grid-row: 1 / span 2;
//     border: 1px solid;
//     height: calc(60vh + 12px);
//   }
//   .grid3{
//     grid-column: 5 / span 2;
//     grid-row: 1;
//     border: 1px solid;
//     height: 30vh;
//   }
//   .grid4{
//     grid-column: 2 / span 1;
//     grid-row: 2 / span 1;
//     border: 1px solid;
//     height: 30vh;
//   }
//   .grid5{
//     grid-column: 1 / span 1;
//     grid-row: 2;
//     border: 1px solid;
//     height: 30vh;
//   }
//   .grid6{
//     grid-column: 5 / span 2;
//     grid-row: 2;
//     border: 1px solid;
//     height: 30vh;
//   }
// }


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: .7;
}

.slider_container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  height: 70vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
  transition: 1s;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 1s;
    .slider_box {
      height: 100%;
      width: 56vw;
      
      display: flex;
      overflow: hidden;
      position: relative;
      transition: 1s;
      .slide_cover {
        height: 100%; 
        position: absolute;
        top: 0;
        transition: 1s;
        width: 56vw; 
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
      .slide {
        transition: 1s;
        height: 100%;
        display: flex;
        align-items: center;
       
        img {
          height: 80%;
        }
      }
    }
  }
  .close {
    position: absolute;
    top: -15px;
    right: -10px;
    color: white;
    cursor: pointer;
  }
  .arrows {
    height: 7vh;
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    &:hover {
      color: #020042;
      background: white;
    }
  }
}




.overlay1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: .7;
}

.slider_container1 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  height: 70vh;
  width: 95vw;
  justify-content: center;
  align-items: center;
  transition: 1s;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 1s;
    .slider_box {
      height: 100%;
      width: 70vw;
      
      display: flex;
      overflow: hidden;
      position: relative;
      transition: 1s;
      .slide_cover {
        height: 100%; 
        position: absolute;
        top: 0;
        transition: 1s;
        width: 70vw; 
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
      .slide {
        transition: 1s;
        height: 100%;
        display: flex;
        align-items: center;
        
        justify-content: center;
        
        img {
          width: 100%;
        }
      }
    }
  }
  .close {
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    cursor: pointer;
  }
  .arrows {
    height: 4vh;
    width: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    &:hover {
      color: #020042;
      background: white;
    }
  }
}